<div class="card mb-3">
  <div class="row">
    <div class="col-md-12"></div>
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{results.image}}" style="width: 250px;margin-bottom: 25px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{results.name}}</h2>
        <p class="card-text">{{results.email}}</p>
        <p class="card-text">{{resCount}}則已評論餐廳</p>
        {{#ifCond userPageId passportUser}}
        <a class="btn btn-primary" href="/users/{{results.id}}/edit">Edit</a>
        {{else}}
        <a class="btn btn-secondary disabled" href="/users/{{results.id}}/edit" tabindex="-1" role="button"
          aria-disabled="true">Edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <strong class="card-title">{{resCount}}則已評論餐廳</strong>
  </div>
  <div class="card-body">
    {{#each results.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" alt=""
        style="width:75px;height:75px"></a>
    {{/each}}
  </div>
</div>


<a href="javascript:history.back()">回上一頁</a>